*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bg{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(248, 249, 245), rgb(206, 193, 193));
}
.top{
    width: 100%;
    height: 5vh;
    background-color: rgb(102, 94, 94);
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottop{
    width: 100%;
    height: 95vh;
    border: 2px solid black;
}
.bottoptop{
    width: 100%;
    height: 10vh;
    background-image: linear-gradient(to bottom right, rgb(228, 222, 222), rgb(255, 255, 255));
    display: flex;
    position: sticky;
      animation-duration: 0.5s;
    animation-play-state:running ;
    animation-iteration-count:1 ;
    animation-name: slidein;
}
@keyframes slidein{
    0%{
        display: none;
        margin-left: -4000px;
    }
    100%{
       margin-left: 0px;
    }
}
.leftside{
    width: 20%;
    height: 10vh;
 
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightside{
    width: 80%;
    height: 10vh;
  
    display: flex;
}
.box{
    width: 10%;
    height: 10vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.gappers{
    width: 15%;
    height: 10vh;
 
}
.boxs1{
     width: 5%;
    height: 10vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxs1 img{
    transition: background-color 0.2s ease;
    background-color: white;
    box-shadow: 0px 0px 4px;
}
.boxs1 img:hover{
    background-color: rgb(86, 137, 239);
}
.boxs1 img:active{
     box-shadow: 0px 0px 0px;
}
.boxs2{
     width: 5%;
    height: 10vh;
 
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxs2 img{
    transition: background-color 0.2s ease;
    background-color: white;
     box-shadow: 0px 0px 4px;
}
.boxs2 img:hover{
    background-color: rgb(89, 131, 248);
}
.boxs2 img:active{
     box-shadow: 0px 0px 0px;
}
.boxs3{
     width: 5%;
    height: 10vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxs3 img{
    transition: background-color 0.2s ease;
    background-color: white;
     box-shadow: 0px 0px 4px;
}
.boxs3 img:active{
     box-shadow: 0px 0px 0px;
}
.boxs3 img:hover{
    background-color: rgb(86, 137, 239);
}
.boxs4{
     width: 5%;
    height: 10vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxs4 img{
     box-shadow: 0px 0px 4px;
}
.boxs4 img:active{
     box-shadow: 0px 0px 0px;
}
.gap{
    width: 100%;
    height: 10vh;
   
}
.title{
    width: 100%;
    height: 80vh;
  
    position: relative;

}
.t1{
    width: 100%;
    height: 35vh;
  
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 40px;
    
}
.t1 h1{
      animation-duration: 1s;
    animation-play-state:running ;
    animation-iteration-count:1 ;
    animation-name: slidein2;
}
@keyframes slidein2{
    0%{
        scale: 0;
    }
    100%{
        scale: 100%;
    }
}
.t2{
    width: 100%;
    height: 35vh;
  
    display: flex;
    justify-content: center;
    align-items: start;
}
.t2 button{
    width: 40%;
    height: 10vh;
    background-color: chocolate;
    border: none;
    box-shadow: 0px 5px 4px ;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    animation-name: but;
    animation-iteration-count: 1;
    animation-duration: 1.2s;
    animation-play-state: running;
}
@keyframes but{
    0%{
        margin-top: 4000px;

    }
    100%{
        margin-top: 0px;
    }
}
.t2 button:active{
    box-shadow: 0px 0px 0px;
}
.Achieved{
    width: 100%;
    height: 100vh;
    background-color: rgb(149, 182, 234);
    z-index: 999;
    position: absolute;
    animation-name:Achieve;
    animation-play-state: paused;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    display: none;
}
.Achieved.play{
    animation-play-state: running;
}
@keyframes Achieve{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
.all{
    width: 100%;
    height: 100vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
.inall{
    width: 80%;
    height: 80vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.boxa{
    width: 30%;
    height: 70vh;
    background-color: rgb(123, 121, 121);
    border-radius: 10px;

}
.b1{
    width: 100%;
    height: 45vh;
    
}
.b2{
    width: 100%;
    height: 25vh;
  
}
.b1 img{
    height: 100%;
}
.b21{
    width: 100%;
    height: 15vh;
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;

}
.b22{
    width: 100%;
    height: 8vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.b22 button{
    width: 40%;
    background-color: rgb(229, 229, 187);
    border: none;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px;
}
.b22 button:active{
    box-shadow: 0px 0px 0px;
}
/* Responsive */
@media(max-width:376px){
    .bg{
        width: 100%;
        height: 100vh;
    }
    .top{
        width: 100%;
        height: 5vh;
        font-size: 10px;
    }
    .bottop{
        width: 100%;
        height: 10vh;
    }
    .bottoptop{
        width: 92%;
        height: 10vh;
        overflow-x:scroll ;
        gap: 30px;
        padding-left: 30px;
    }
    .leftside{
        width: 20%;
        padding-left: 20px;
        
    }
    .rightside{
        width: 80%;
        gap: 40px;
       padding-right: 10px;
    }
    .leftside h1{
        font-size: 30px;
    }
    .box{
        margin-left: 20px;
        width: 80%;
    }
    .gapl{
        display: none;
    }
    .boxs1{
        width: 50%;
    }
    .boxs2{
        width: 50%;
    }
    .boxs3{
        width: 50%;
    }
    .boxs4{
        width: 50%;
    }
    .t1{
        font-size: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .t1{
      
        font-size: 25px;
        height: 20vh;
    }
    .t2 button{
        margin-top: 20px;
        width: 80%;
    }

    .inall{
        overflow-x: scroll;
        display: flex;
        flex-wrap: wrap;
    }
    .boxa{
        width: 100%;
    }
    .b21{
        font-size: 10px;
    }
}